<div class="row">
  <div class="col-md-12">
    <!-- <form (ngSubmit)="onSubmit(timeForm)" #timeForm="ngForm"> -->
      <div class="row">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
      <hr>
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <select id="projectName" class="form-control" [(ngModel)]="selectedProject" [ngModelOptions]="{standalone: true}" (ngModelChange)="setSelectedProject($event)">
          <option *ngFor="let project of projects; let i = index"
            [value]="project"
          >{{project.name}} -  {{project.description}}</option>
        </select>
      </div>
      <hr>
      <div class="form-group">
        <label>Date</label>
        <input
          id="entryDate" 
          type="date"
          name="entryDate"
          class="form-control"
          [(ngModel)]="entryDate"
          required
        >{{currentDate}}
      </div>
      <hr>
      <div class="row">
        <div class="form-group">
          <label> From </label>
          <ngb-timepicker [(ngModel)]="fromTime" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateDuration($event)"></ngb-timepicker>
        </div>
        <hr>
        <div class="form-group">
          <label>Duration: 
            {{duration}}</label>
        </div>
        <hr>
        <div class="form-group">
            <label> To </label>
            <ngb-timepicker [(ngModel)]="toTime" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateDuration($event)"></ngb-timepicker>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-ws-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              type="text"
              class="form-control"
              [(ngModel)]="description"
              rows="4"
              >
              </textarea>
          </div>
        </div>
      </div>
      <hr>
      
    <!-- </form> -->
  </div>
</div>